/*
#1 = 85b0be
#2 = 95cbdd
*/

a:hover {
	color: rgb(172, 135, 23);;
}

/* menu */
.nav>li>a:hover {
	color: rgb(172, 135, 23);;
}

.navbar .navbar-nav > .active > a {
	color: rgb(172, 135, 23);;
	border-bottom: 4px solid rgb(172, 135, 23);;
}

/* flexslider */
.flex-control-paging li a {
	background: rgb(172, 135, 23);;
}


.testimonial span.author a {
	color: rgb(172, 135, 23);;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: rgb(172, 135, 23);;
	box-shadow: 0 0 0 4px rgb(172, 135, 23);;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: rgb(172, 135, 23);;
	box-shadow: 0 0 0 8px  rgb(172, 135, 23);;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: rgb(172, 135, 23);;
}

/* btn */
.btn-theme {
  background: rgb(172, 135, 23);;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: rgb(172, 135, 23);;
}
.btn-cta,.btn-cta.btn-lg {
  background: rgb(172, 135, 23);
  border-color: rgb(172, 135, 23);
}

.btn-cta:focus,.btn-cta:active{
   border-color: rgb(172, 135, 23);;
}

/* footer */
.social-circle li a {
	background:rgb(172, 135, 23);;
}

a.scrollup{
	background:rgb(172, 135, 23);;
}
